img {max-width: 100%;}
.slider_solo img {width: 100%;}
.slider_solo .action_btns {text-align: center; background: #2b2b2b; padding: 5px; margin-bottom: 30px; border-top: solid 2px white;}
.social_media_icon {font-size: 24px; color: #414042;}
textarea {min-height: 150px;}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }