@media (min-width:992px)
{
  header.header {position: fixed; top: 0; left: 0; width: 100%; background: #00193521 !important; z-index: 999;}
}
.banner-bg-slider-content h1 span {font-size: 42px !important; font-style: normal !important;}
@media (max-width: 991px) {.banner-bg-slider-content h1 span {font-size: 34px !important; font-style: normal !important;}}
@media (max-width: 767px) {.banner-bg-slider-content h1 span {font-size: 32px !important; font-style: normal !important;}}
@media (max-width: 575px) {.banner-bg-slider-content h1 span {font-size: 26px !important; font-style: normal !important;}}
@media (max-width: 575px) {.banner-bg-slider-content h1 span {font-size: 26px !important; font-style: normal !important;}}
img {max-width: 100%;}
.FramePDFWrapper {position: relative; padding-bottom: 56.25%; height: 0;}
.FramePDFWrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%; min-height: 500px;}
#book_overlay {position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: #ffffffeb; padding: 15px; text-align: center; z-index: 1; border: solid 1px #ececec;}
#book_overlay_content  {position: absolute; top: 45%; left: 0; right: 0; text-align: center; z-index: 1;}
.category-style .category-item i {font-size: 50px;}
.language_view_resume {color: #001935; font-size: 14px; font-weight: 600; margin-top: 1rem; display: flex;}
.language_view_resume span {color: #ff8a00; font-weight: 500;}

.job-list-option .nav-tabs .nav-item .nav-link {border-radius: 0;}
.job-list-option .nav-tabs .nav-item:first-child .nav-link {background: transparent; color: #4CAF50;}
.job-list-option .nav-tabs .nav-item:nth-child(2n) .nav-link {background: transparent; color: #102dd0;}
.job-list-option .nav-tabs .nav-item:nth-child(3n) .nav-link {background: transparent; color: #673ab7;}
.job-list-option .nav-tabs .nav-item .nav-link.active {border-bottom:solid 2px #eead0b;}
.job-list-option .nav-tabs .nav-item .nav-link {border-bottom:solid 2px transparent;}
.job-list-favourite-time .job-list-favourite {height: auto; width: auto; line-height: 1; border: 0;}
.dictionary_comments_link {color: #4CAF50; font-weight: bold;}
.dictionary_suggestions_link {color: #102dd0;font-weight: bold;}
.dictionary_articles_link {color: #673ab7;font-weight: bold;}
.job-list-option .tab-pane p {color: black; font-weight: bold;}

.badge.badge-primary.rightcountrerbadge {position: absolute; right: 0;}

#today_word {text-align: center; color: black; border: solid 1px #ff8a00; border-radius: 5px;}
#today_word h2 {background:#ff8a00; padding: 5px 0; font-size: 20px; font-weight: 500; color: white;}
#words_dixt {padding:10px 5px;}

.job-list-title .container-fluid {padding: 0 15px;}

#word_comment, #word_suggestion {position: relative;}
#word_comment .overlay, #word_suggestion .overlay {position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #f9f9f9d9; color: white; 
border: solid 2px #244675; border-radius: 5px; z-index: 1;}
#word_comment .overlay h4 {color: #244675; text-align: center; padding-top: 50px;}
#word_suggestion .overlay h4 {color: #244675; text-align: center; padding-top: 10px; font-size: 20px;}
#word_suggestion .overlay h4 a {margin-left: 30px;}
.footer {margin-top: 0; padding-top: 100px;}
.topsearch-icon i {font-weight: 100; color : #ff8a00; font-size: 50px;}
.topsearch-icon img {height:71px; width: auto !important; margin: 0 auto;}
.employers-list-title p {color: black; font-weight: bold; color: #001935; font-weight: 500; font-size: 17px;}
.employers-list-title p.results {color: #dadada; font-weight: 100; font-size: 13px; margin-bottom: 0;}
#show_personal_info_pp {margin-top: 45px;}

.blog-post-share a {background:black;color:white !important;border-radius:5px;padding:7px 14px;font-size:15px;margin-right:5px;}
.blog-post .blog-post-share a i {color: white;}
.blog-post-share a.facebook{background-color:#3b5998;}
.blog-post-share a.pinterest{background-color:#cc2127;}
.blog-post-share a.twitter{background-color:#1da1f2;}
.blog-post-share a.whatsapp{background-color:#189d0e;}
.blog-post-share a.google-plus{background-color:#dd4b39;}
.blog-post-share a.linkedin{background-color:#0077b5;}
.blog-post-share a.email{background-color: #525151;}
.blog-post-share a.print{background-color:#bf0d0d;}
.blog-post-share a:hover{opacity:0.7;}

#ourstats {padding: 0 0 30px 0;}
#ourstats .data_counter, #ourstats .stat_title {text-align: center; font-weight: bold;}
#ourstats .data_counter {color: #ff8a00; font-size: 40px; }
#ourstats .stat_title {margin-bottom: 30px;}
#ourstats .stat_title {color: #244675; font-size: 30px;}
#activate_account_page {padding: 200px 0 50px 0;}